{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>


<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2 class="text-center mb-4">About Me</h2>
                <p>
                    I am currently pursuing a Master of Science (MSc) degree in Computer Science, focusing on
                    <strong>Machine Learning</strong> and <strong>Data Science</strong>. This academic journey has
                    deepened my theoretical knowledge while equipping me with valuable research and analytical skills
                    to tackle real-world challenges.
                </p>
                <p>
                    As a dedicated <strong>Python developer</strong>, I have honed my skills in creating applications,
                    analyzing data, and automating tasks. My experience includes developing a web application, which
                    has refined my coding abilities and taught me best practices in software development.
                </p>
                <p>
                    I am passionate about <strong>programming</strong> and <strong>web development</strong>, eager to explore
                    how these fields intersect with my academic pursuits. Collaborating with peers on projects, sharing insights,
                    and learning from the tech community are activities I truly enjoy.
                </p>
            </div>
        </div>
    </div>
</main>


{% include "footer.html" %}
