{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I am currently pursuing my Master of Science (MSc) degree in Computer Science,
          where I am gaining a deeper understanding of Machine learning and Data Science.
          My academic journey has not only enhanced my theoretical knowledge but has
          also provided me with valuable research and analytical skills that I apply to real-world challenges.
        </p>
        <p>
          In addition to my studies, I am a dedicated Python developer. I have developed a strong proficiency in Python,
          which I use to create applications, analyze data, and automate tasks. My experience includes working on
          projects such as building a web application. These experiences have allowed me to refine my coding skills and
          learn best practices in software development.
        </p>
        <p>
          I am particularly passionate about programming, web development and I am eager to explore
          how these areas intersect with my academic pursuits. I enjoy collaborating with peers on projects,
          sharing insights, and learning from others in the tech community.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
